<a href="https://colab.research.google.com/github/Yueming02/Datathon/blob/main/Datathon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np 
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import re

from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Embedding, LSTM,Conv1D,MaxPool1D
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score

import gensim

In [4]:
df_true=pd.read_csv('DataSet_Misinfo_TRUE.csv')

In [5]:
df_fake=pd.read_csv('DataSet_Misinfo_FAKE.csv')

In [6]:
df_true['label']=1
df_true=df_true.drop('Unnamed: 0',axis=1)
df_true.head()

                                                text  label
0  The head of a conservative Republican faction ...      1
1  Transgender people will be allowed for the fir...      1
2  The special counsel investigation of links bet...      1
3  Trump campaign adviser George Papadopoulos tol...      1
4  President Donald Trump called on the U.S. Post...      1

In [7]:
df_fake['label']=0
df_fake=df_fake.drop('Unnamed: 0',axis=1)
df_fake.head()

                                                text  label
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0